{
  "openapi": "3.1.0",
  "info": {
    "title": "Real Oficial API",
    "summary": "API para criar, editar, renderizar e publicar cortes de vídeo.",
    "description": "Contrato público da API v1 da Real Oficial, disponível para todas as contas e planos. Envie Accept: application/json em todas as requisições e use X-Workspace-Id para selecionar um workspace de equipe. Créditos, assinatura, limites e permissões continuam sendo avaliados em cada operação.",
    "version": "1.0.0",
    "contact": {
      "name": "Suporte Real Oficial",
      "email": "antonio@realoficial.com.br",
      "url": "https://discord.gg/realoficial"
    }
  },
  "servers": [
    {
      "url": "https://api.realoficial.com.br/api/v1",
      "description": "Produção"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Geração de imagem"
    },
    {
      "name": "Geração de vídeo"
    },
    {
      "name": "Auto Edit"
    },
    {
      "name": "Brand Kits"
    },
    {
      "name": "Projetos"
    },
    {
      "name": "Analytics"
    },
    {
      "name": "Dublagem"
    },
    {
      "name": "Launchers"
    },
    {
      "name": "Biblioteca"
    },
    {
      "name": "Lives"
    },
    {
      "name": "Autenticação"
    },
    {
      "name": "Uploads de mídia"
    },
    {
      "name": "Thumbnails"
    },
    {
      "name": "Tradução de legendas"
    },
    {
      "name": "Shorts"
    },
    {
      "name": "Renders"
    },
    {
      "name": "Contas sociais"
    },
    {
      "name": "Publicações sociais"
    },
    {
      "name": "Templates"
    },
    {
      "name": "Workspaces"
    }
  ],
  "paths": {
    "/ai-usage/image": {
      "post": {
        "tags": [
          "Geração de imagem"
        ],
        "summary": "Gerar Imagem",
        "description": "Gera de 1 a 4 imagens a partir de um prompt, com ou sem imagem de referência",
        "operationId": "post_ai_usage_image",
        "x-docs-source": "api-reference/images/create.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Corpo da requisição.",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Descrição da imagem ou da edição, com até 2000 caracteres."
                  },
                  "model": {
                    "type": "string",
                    "default": "gpt-image-2",
                    "description": "id de um modelo de Modelos de Imagem."
                  },
                  "count": {
                    "type": "integer",
                    "default": 1,
                    "description": "Quantidade de imagens, de 1 a 4. É tudo ou nada: sem saldo para o lote inteiro, nada é criado."
                  },
                  "imageUrl": {
                    "type": "string",
                    "description": "Imagem de referência para edição. Envie a asset.canonicalurl de um upload feito no mesmo workspace, ou o asset.remoteUrl de uma imagem gerada antes. Uma referência por pedido."
                  },
                  "aspectRatio": {
                    "type": "string",
                    "default": "1:1",
                    "description": "Proporção da imagem sem referência: 1:1, 16:9, 9:16, 4:5, 5:4, 4:3, 3:4, 3:2 ou 2:3 (lista atual em aspectratios de Modelos de Imagem). Com imageUrl, a proporção segue a da referência e este campo é recusado."
                  },
                  "economy": {
                    "type": "boolean",
                    "default": false,
                    "description": "Modo econômico: cobra economycreditsperimage em vez de creditsperimage e entrega a imagem em até 24 horas. Só nos modelos com economycreditsperimage no catálogo."
                  },
                  "enhancePrompt": {
                    "type": "boolean",
                    "default": true,
                    "description": "Reescreve o prompt antes de gerar para descrever melhor a cena. O texto usado volta em enhancedprompt. Use false para gerar exatamente com o seu texto."
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ai-usage/image/{id}": {
      "get": {
        "tags": [
          "Geração de imagem"
        ],
        "summary": "Consultar Imagem",
        "description": "Retorna status e resultado de uma geração de imagem",
        "operationId": "get_ai_usage_image_by_id",
        "x-docs-source": "api-reference/images/show.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Um dos ids devolvidos por Gerar Imagem.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ai-usage/image/models": {
      "get": {
        "tags": [
          "Geração de imagem"
        ],
        "summary": "Modelos de Imagem",
        "description": "Lista os modelos de geração de imagem disponíveis e o preço atual em créditos",
        "operationId": "get_ai_usage_image_models",
        "x-docs-source": "api-reference/images/models.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ai-usage/image/queue": {
      "get": {
        "tags": [
          "Geração de imagem"
        ],
        "summary": "Fila de Imagens",
        "description": "Mostra o volume da fila de geração e o status de várias gerações numa chamada",
        "operationId": "get_ai_usage_image_queue",
        "x-docs-source": "api-reference/images/queue.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "ids[]",
            "in": "query",
            "required": false,
            "description": "Até 50 IDs de geração, repetindo o parâmetro (ids[]=A&ids[]=B). IDs inexistentes ou de outra conta são ignorados.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ai-usage/video": {
      "post": {
        "tags": [
          "Geração de vídeo"
        ],
        "summary": "Gerar Vídeo",
        "description": "Pede um vídeo com IA a partir de texto, imagem inicial, referências ou template",
        "operationId": "post_ai_usage_video",
        "x-docs-source": "api-reference/videos/create.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Corpo da requisição.",
                "properties": {
                  "terms_accepted": {
                    "type": "boolean",
                    "description": "Precisa ser true. Confirma os termos de uso: sem conteúdo pornográfico e só imagens e vídeos de pessoas que autorizaram o uso. Veja Termos de uso."
                  },
                  "model": {
                    "type": "string",
                    "description": "id de um modelo de Modelos de Vídeo. Obrigatório sem template."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Descrição do vídeo, com até 2000 caracteres. Obrigatório sem template."
                  },
                  "duration_secs": {
                    "type": "integer",
                    "description": "Duração em segundos, uma das durations do modelo. Obrigatório sem template."
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "9:16 ou 16:9, entre os aspectratios do modelo. Obrigatório sem template."
                  },
                  "audio": {
                    "type": "boolean",
                    "description": "Gera com áudio. Omitido = padrão do modelo (audiodefault). Em modelos sem áudio, envie false ou omita."
                  },
                  "image_url": {
                    "type": "string",
                    "description": "Imagem inicial: o vídeo começa nela. Envie a asset.canonicalurl de um upload do mesmo workspace, o asset.remoteUrl de uma imagem gerada ou o lastframe.remoteUrl de um vídeo pronto. Só em modelos com supportsimage: true. Não combina com referências."
                  },
                  "reference_images": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Até reference.images URLs de imagens (mesmas fontes de imageurl) que guiam a cena sem virar o primeiro quadro."
                  },
                  "reference_videos": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Até reference.videos URLs de vídeos: asset.canonicalurl de um upload MP4 ou MOV de até 50 MB, ou o asset.remoteUrl de um vídeo gerado no workspace. Cada um com 2 a 15 segundos; somados, até 15 segundos. Os segundos enviados também são cobrados."
                  },
                  "height": {
                    "type": "integer",
                    "description": "Resolução, entre as qualities do modelo (por exemplo 480). Omitido = height padrão do modelo."
                  },
                  "draft": {
                    "type": "boolean",
                    "default": false,
                    "description": "Gera um rascunho em 480p, pelo preço do 480p, que pode virar versão final. Só em modelos com draft no catálogo. Com draft, omita height ou envie 480."
                  },
                  "template": {
                    "type": "string",
                    "description": "slug de um template do catálogo. Com template, model, prompt, durationsecs, aspectratio, audio e as referências são ignorados: a receita define tudo."
                  },
                  "inputs": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Campos do template (fields), cada valor com até 200 caracteres. Em campos select, envie uma das options."
                  },
                  "consent": {
                    "type": "boolean",
                    "description": "Obrigatório (true) nos templates com consent: true: confirma que você tem autorização para usar a foto."
                  }
                },
                "required": [
                  "terms_accepted"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Geração de vídeo"
        ],
        "summary": "Listar Vídeos",
        "description": "Lista os vídeos com IA do workspace, do mais novo ao mais antigo",
        "operationId": "get_ai_usage_video",
        "x-docs-source": "api-reference/videos/list.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Página.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Itens por página, de 1 a 50.",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ai-usage/video/{id}": {
      "delete": {
        "tags": [
          "Geração de vídeo"
        ],
        "summary": "Excluir Vídeo",
        "description": "Exclui um vídeo pronto ou com falha, ou tira da fila com os créditos de volta",
        "operationId": "delete_ai_usage_video_by_id",
        "x-docs-source": "api-reference/videos/delete.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do vídeo.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Geração de vídeo"
        ],
        "summary": "Consultar Vídeo",
        "description": "Retorna status e resultado de um vídeo com IA",
        "operationId": "get_ai_usage_video_by_id",
        "x-docs-source": "api-reference/videos/show.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "O id devolvido por Gerar Vídeo.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ai-usage/video/{id}/final": {
      "post": {
        "tags": [
          "Geração de vídeo"
        ],
        "summary": "Versão Final do Rascunho",
        "description": "Gera em 1080p a versão final de um rascunho pronto",
        "operationId": "post_ai_usage_video_by_id_final",
        "x-docs-source": "api-reference/videos/final.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do rascunho.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Corpo da requisição.",
                "properties": {
                  "terms_accepted": {
                    "type": "boolean",
                    "description": "Precisa ser true, como em Gerar Vídeo."
                  }
                },
                "required": [
                  "terms_accepted"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ai-usage/video/models": {
      "get": {
        "tags": [
          "Geração de vídeo"
        ],
        "summary": "Modelos de Vídeo",
        "description": "Lista os modelos de vídeo, o preço atual por segundo, os templates e as vagas da sua conta",
        "operationId": "get_ai_usage_video_models",
        "x-docs-source": "api-reference/videos/models.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auto-edit/vision-plan": {
      "post": {
        "tags": [
          "Auto Edit"
        ],
        "summary": "Gerar Plano de Auto Edit",
        "description": "Pede à IA o plano de edição completo de um corte",
        "operationId": "post_auto_edit_vision_plan",
        "x-docs-source": "api-reference/auto-edit/generate.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Corpo da requisição.",
                "properties": {
                  "short_id": {
                    "type": "string",
                    "description": "ID do corte (ULID)."
                  },
                  "preset": {
                    "type": "string",
                    "description": "Estilo da edição: viral, clean, cinematic, pop, editorial, meme, brainrot ou neon. Sem ele, a IA escolhe pelo conteúdo (nunca brainrot ou neon)."
                  },
                  "matte_only": {
                    "type": "boolean",
                    "default": false,
                    "description": "Com true, não gera um plano novo: só completa o recorte da pessoa no corte inteiro para aplicar brainrot ou neon sobre o plano que já existe. Não consome a cota diária. Exige um plano pronto ou aplicado."
                  }
                },
                "required": [
                  "short_id"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auto-edit/vision-plan/{shortId}": {
      "get": {
        "tags": [
          "Auto Edit"
        ],
        "summary": "Consultar Plano de Auto Edit",
        "description": "Retorna o status e, quando pronto, o plano de edição de um corte",
        "operationId": "get_auto_edit_vision_plan_by_shortId",
        "x-docs-source": "api-reference/auto-edit/status.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "shortId",
            "in": "path",
            "required": true,
            "description": "ID do corte (ULID).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auto-edit/vision-plan/{shortId}/apply": {
      "post": {
        "tags": [
          "Auto Edit"
        ],
        "summary": "Aplicar Plano de Auto Edit",
        "description": "Aplica no servidor um plano pronto: o corte sai editado sem abrir o editor",
        "operationId": "post_auto_edit_vision_plan_by_shortId_apply",
        "x-docs-source": "api-reference/auto-edit/apply.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "shortId",
            "in": "path",
            "required": true,
            "description": "ID do corte (ULID).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Corpo da requisição.",
                "properties": {
                  "preset": {
                    "type": "string",
                    "description": "Estilo para aplicar no lugar do que veio no plano: viral, clean, cinematic, pop, editorial, meme, brainrot ou neon. O layout do corte não muda: meme é aplicado como viral."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand-kits": {
      "post": {
        "tags": [
          "Brand Kits"
        ],
        "summary": "Criar Brand Kit",
        "description": "Cria uma configuração reutilizável de marca",
        "operationId": "post_brand_kits",
        "x-docs-source": "api-reference/brand-kits/create.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrandKitInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Brand Kits"
        ],
        "summary": "Listar Brand Kits",
        "description": "Lista os Brand Kits do workspace ativo",
        "operationId": "get_brand_kits",
        "x-docs-source": "api-reference/brand-kits/list.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand-kits/{id}": {
      "delete": {
        "tags": [
          "Brand Kits"
        ],
        "summary": "Excluir Brand Kit",
        "description": "Remove um Brand Kit",
        "operationId": "delete_brand_kits_by_id",
        "x-docs-source": "api-reference/brand-kits/delete.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Brand Kits"
        ],
        "summary": "Detalhar Brand Kit",
        "description": "Retorna um Brand Kit",
        "operationId": "get_brand_kits_by_id",
        "x-docs-source": "api-reference/brand-kits/show.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Brand Kits"
        ],
        "summary": "Atualizar Brand Kit",
        "description": "Atualiza um Brand Kit",
        "operationId": "put_brand_kits_by_id",
        "x-docs-source": "api-reference/brand-kits/update.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrandKitUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand-kits/{id}/duplicate": {
      "post": {
        "tags": [
          "Brand Kits"
        ],
        "summary": "Duplicar Brand Kit",
        "description": "Duplica um Brand Kit no workspace ativo",
        "operationId": "post_brand_kits_by_id_duplicate",
        "x-docs-source": "api-reference/brand-kits/duplicate.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/createShorts": {
      "post": {
        "tags": [
          "Projetos"
        ],
        "summary": "Criar Projeto com IA",
        "description": "Crie um novo projeto a partir de uma URL de vídeo e gere cortes automaticamente",
        "operationId": "post_createShorts",
        "x-docs-source": "api-reference/projects/create.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Corpo da requisição.",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "URL do vídeo (YouTube, Google Drive ou link direto .mp4)"
                  },
                  "clipDuration": {
                    "type": "string",
                    "description": "Duração alvo dos cortes: 30, 60, 90, 120 ou auto"
                  },
                  "startTime": {
                    "type": "number",
                    "description": "Tempo inicial do trecho a processar (em segundos)"
                  },
                  "endTime": {
                    "type": "number",
                    "description": "Tempo final do trecho a processar (em segundos)"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Formato do vídeo: vertical (9:16) ou horizontal (16:9)"
                  },
                  "layout": {
                    "type": "string",
                    "description": "Layout do vídeo: auto, single, split, react, gaming - auto: Layout combinado entre single / split e center - single: Vídeo único com face tracking - split: Tela dividida (face + conteúdo) - center: Vídeo centralizado na tela - react: Estilo reação - gaming: Para gameplays"
                  },
                  "video_type": {
                    "type": "string",
                    "description": "Tipo de processamento. Valores aceitos: shorts ou reframe. Este campo é obrigatório. Omiti-lo retorna 422: json { \"message\": \"The video type field is required.\", \"errors\": { \"videotype\": [\"The video type field is required.\"] } } O modo escolhido muda as regras de duração do intervalo — veja Validações."
                  },
                  "title": {
                    "type": "string",
                    "description": "Título personalizado do projeto (usa título do vídeo se não informado)"
                  },
                  "captionFont": {
                    "type": "string",
                    "description": "Fonte padrão para legendas"
                  },
                  "captionTemplate": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Objeto completo do estilo de legendas, com id, style e config. Consulte o catálogo de Caption Templates ou copie o JSON pela galeria interativa."
                  },
                  "ignoreCaptions": {
                    "type": "boolean",
                    "default": false,
                    "description": "Se true, gera os cortes sem legendas."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Prompt customizado para guiar a geração dos cortes. Máximo de 1000 caracteres."
                  },
                  "emojisEnabled": {
                    "type": "boolean",
                    "default": false,
                    "description": "Se true, habilita emojis nas legendas."
                  },
                  "show_in_content_hub": {
                    "type": "boolean",
                    "default": true,
                    "description": "Se true, compartilha os cortes no hub de conteúdo."
                  },
                  "autoCta": {
                    "type": "boolean",
                    "default": false,
                    "description": "Se true, adiciona uma chamada para ação (CTA) nos primeiros 3 segundos do corte."
                  },
                  "autoEdit": {
                    "type": "boolean",
                    "default": false,
                    "description": "Se true, quando o projeto fica pronto a IA gera e aplica no servidor o Auto Edit nos 3 cortes de maior score: eles já saem editados na listagem, no render e na publicação, sem abrir o editor. Só para assinantes; sem assinatura ativa o campo é ignorado. Os outros cortes continuam como estão. Veja Aplicar pelo backend."
                  },
                  "target_languages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Até 3 códigos de Idiomas de Tradução. Cada short é traduzido automaticamente assim que fica pronto, sem custo. Ignorado quando ignoreCaptions é true. Código inválido responde 422 com code: \"invalidtargetlanguages\". Veja Tradução de Legendas."
                  }
                },
                "required": [
                  "url",
                  "clipDuration",
                  "startTime",
                  "endTime",
                  "aspect_ratio",
                  "video_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/accounts": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Comparar contas",
        "description": "Compara o desempenho por conta social.",
        "operationId": "get_dashboard_analytics_accounts",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/best-time": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Melhor horário",
        "description": "Retorna horários de melhor desempenho.",
        "operationId": "get_dashboard_analytics_best_time",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "description": "Métrica analisada.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "views",
                "likes",
                "engagement_rate"
              ]
            }
          },
          {
            "name": "scope",
            "in": "query",
            "description": "Escopo da análise.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "global"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/competitor-benchmark": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Benchmark de concorrentes",
        "description": "Compara o desempenho com concorrentes.",
        "operationId": "get_dashboard_analytics_competitor_benchmark",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/content-decay": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Decaimento de conteúdo",
        "description": "Analisa o decaimento de desempenho.",
        "operationId": "get_dashboard_analytics_content_decay",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/export": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Exportar Analytics",
        "description": "Exporta dados de Analytics em CSV.",
        "operationId": "get_dashboard_analytics_export",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Conjunto exportado.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "posts",
                "platforms",
                "accounts"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo CSV.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/fatigue": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Fadiga de conteúdo",
        "description": "Retorna sinais de fadiga de conteúdo.",
        "operationId": "get_dashboard_analytics_fatigue",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/follower-growth": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Crescimento de seguidores",
        "description": "Retorna o crescimento de seguidores.",
        "operationId": "get_dashboard_analytics_follower_growth",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/goals": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Listar metas",
        "description": "Lista metas de desempenho.",
        "operationId": "get_dashboard_analytics_goals",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Criar meta",
        "description": "Cria uma meta de desempenho.",
        "operationId": "post_dashboard_analytics_goals",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyticsGoalInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/goals/{id}": {
      "put": {
        "tags": [
          "Analytics"
        ],
        "summary": "Atualizar meta",
        "description": "Atualiza uma meta de desempenho.",
        "operationId": "put_dashboard_analytics_goals_by_id",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyticsGoalInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Analytics"
        ],
        "summary": "Arquivar meta",
        "description": "Arquiva uma meta de desempenho.",
        "operationId": "delete_dashboard_analytics_goals_by_id",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/hashtag-trends": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Tendências de hashtags",
        "description": "Retorna tendências de hashtags.",
        "operationId": "get_dashboard_analytics_hashtag_trends",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/instagram/demographics": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Demografia do Instagram",
        "description": "Retorna métricas demográficas do Instagram.",
        "operationId": "get_dashboard_analytics_instagram_demographics",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_id",
            "in": "query",
            "description": "ID da conta do Instagram.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "description": "Métrica demográfica.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "follower_demographics",
                "engaged_audience_demographics"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/overview": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Visão geral",
        "description": "KPIs de visualizações, shorts, minutos e origem dos dados.",
        "operationId": "get_dashboard_analytics_overview",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/platforms": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Comparar plataformas",
        "description": "Compara o desempenho por plataforma.",
        "operationId": "get_dashboard_analytics_platforms",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/posts": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Desempenho de posts",
        "description": "Lista paginada de posts e métricas.",
        "operationId": "get_dashboard_analytics_posts",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Campo de ordenação.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "views",
                "impressions",
                "likes",
                "comments",
                "shares",
                "engagement"
              ]
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Direção da ordenação.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Página solicitada.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Quantidade de itens por página.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/posts/{socialPostId}/sentiment": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Sentimento dos comentários",
        "description": "Analisa o sentimento dos comentários.",
        "operationId": "get_dashboard_analytics_posts_by_socialPostId_sentiment",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "socialPostId",
            "in": "path",
            "required": true,
            "description": "Identificador socialPostId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/repurpose-suggestions": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Sugestões de reaproveitamento",
        "description": "Sugere conteúdos para reaproveitar.",
        "operationId": "get_dashboard_analytics_repurpose_suggestions",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_views",
            "in": "query",
            "description": "Mínimo de visualizações.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 5000
            }
          },
          {
            "name": "age_days_min",
            "in": "query",
            "description": "Idade mínima em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 7,
              "default": 30
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Quantidade de sugestões.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/timeseries": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Série temporal",
        "description": "Retorna a série temporal do período.",
        "operationId": "get_dashboard_analytics_timeseries",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/top-posts": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Top posts",
        "description": "Retorna os posts de melhor desempenho.",
        "operationId": "get_dashboard_analytics_top_posts",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "description": "Métrica usada no ranking.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "views",
                "impressions",
                "likes",
                "comments",
                "shares",
                "engagement_rate"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Quantidade de posts.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/youtube/post/{socialPostId}/daily": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Views diárias no YouTube",
        "description": "Retorna visualizações diárias de um post do YouTube.",
        "operationId": "get_dashboard_analytics_youtube_post_by_socialPostId_daily",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "socialPostId",
            "in": "path",
            "required": true,
            "description": "Identificador socialPostId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dubbing/languages": {
      "get": {
        "tags": [
          "Dublagem"
        ],
        "summary": "Idiomas de Dublagem",
        "description": "Lista os idiomas de destino, a cota mensal de dublagem e o consentimento de voz do usuário",
        "operationId": "get_dubbing_languages",
        "x-docs-source": "api-reference/dubbing/languages.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/landing/image-pricing": {
      "get": {
        "tags": [
          "Geração de imagem"
        ],
        "summary": "Tabela Pública de Preços",
        "description": "Preços de geração de imagem e quantas imagens cada plano cobre, sem autenticação",
        "operationId": "get_landing_image_pricing",
        "x-docs-source": "api-reference/images/pricing.mdx",
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/landing/video-pricing": {
      "get": {
        "tags": [
          "Geração de vídeo"
        ],
        "summary": "Tabela Pública de Preços",
        "description": "Preços de geração de vídeo por segundo, sem autenticação",
        "operationId": "get_landing_video_pricing",
        "x-docs-source": "api-reference/videos/pricing.mdx",
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/launchers": {
      "post": {
        "tags": [
          "Launchers"
        ],
        "summary": "Criar Launcher",
        "description": "Cria uma fila recorrente de publicação",
        "operationId": "post_launchers",
        "x-docs-source": "api-reference/launchers/create.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LauncherInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Launchers"
        ],
        "summary": "Listar Launchers",
        "description": "Lista os Launchers do workspace ativo",
        "operationId": "get_launchers",
        "x-docs-source": "api-reference/launchers/list.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/launchers/{id}": {
      "delete": {
        "tags": [
          "Launchers"
        ],
        "summary": "Excluir Launcher",
        "description": "Remove um Launcher",
        "operationId": "delete_launchers_by_id",
        "x-docs-source": "api-reference/launchers/delete.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Launchers"
        ],
        "summary": "Detalhar Launcher",
        "description": "Detalha um Launcher, sua fila e o histórico recente",
        "operationId": "get_launchers_by_id",
        "x-docs-source": "api-reference/launchers/show.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Launchers"
        ],
        "summary": "Atualizar Launcher",
        "description": "Atualiza, pausa ou retoma um Launcher",
        "operationId": "put_launchers_by_id",
        "x-docs-source": "api-reference/launchers/update.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LauncherUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/launchers/{id}/items": {
      "post": {
        "tags": [
          "Launchers"
        ],
        "summary": "Adicionar Short",
        "description": "Adiciona um short à fila do Launcher",
        "operationId": "post_launchers_by_id_items",
        "x-docs-source": "api-reference/launchers/add-item.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LauncherItemInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/launchers/{id}/items/reorder": {
      "put": {
        "tags": [
          "Launchers"
        ],
        "summary": "Reordenar Shorts",
        "description": "Reordena os shorts pendentes da fila",
        "operationId": "put_launchers_by_id_items_reorder",
        "x-docs-source": "api-reference/launchers/reorder-items.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Nova ordem completa da fila.",
                "properties": {
                  "item_ids": {
                    "type": "array",
                    "description": "IDs dos itens na ordem desejada.",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "item_ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/launchers/{id}/items/reschedule": {
      "put": {
        "tags": [
          "Launchers"
        ],
        "summary": "Reagendar Shorts",
        "description": "Desloca os agendamentos dos itens selecionados",
        "operationId": "put_launchers_by_id_items_reschedule",
        "x-docs-source": "api-reference/launchers/reschedule-items.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Deslocamento de itens da fila.",
                "properties": {
                  "item_ids": {
                    "type": "array",
                    "description": "IDs dos itens.",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1
                  },
                  "days": {
                    "type": "integer",
                    "description": "Quantidade de dias, diferente de zero.",
                    "minimum": -365,
                    "maximum": 365
                  }
                },
                "required": [
                  "item_ids",
                  "days"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/launchers/{id}/slots": {
      "put": {
        "tags": [
          "Launchers"
        ],
        "summary": "Atualizar Horários",
        "description": "Substitui os horários semanais do Launcher",
        "operationId": "put_launchers_by_id_slots",
        "x-docs-source": "api-reference/launchers/update-slots.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Nova grade semanal.",
                "properties": {
                  "slots": {
                    "type": "array",
                    "description": "Horários semanais.",
                    "items": {
                      "$ref": "#/components/schemas/LauncherSlot"
                    }
                  }
                },
                "required": [
                  "slots"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/launchers/{id}/slots/suggest": {
      "get": {
        "tags": [
          "Launchers"
        ],
        "summary": "Sugerir Horários",
        "description": "Sugere horários de publicação por plataforma",
        "operationId": "get_launchers_by_id_slots_suggest",
        "x-docs-source": "api-reference/launchers/suggest-slots.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/launchers/{id}/suggest-description": {
      "post": {
        "tags": [
          "Launchers"
        ],
        "summary": "Sugerir Descrição",
        "description": "Sugere uma descrição para um short do Launcher",
        "operationId": "post_launchers_by_id_suggest_description",
        "x-docs-source": "api-reference/launchers/suggest-description.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Short usado para gerar a sugestão.",
                "properties": {
                  "short_id": {
                    "type": "string",
                    "description": "ID do short."
                  }
                },
                "required": [
                  "short_id"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/launchers/{launcherId}/items/{itemId}": {
      "delete": {
        "tags": [
          "Launchers"
        ],
        "summary": "Remover Short",
        "description": "Remove um short da fila do Launcher",
        "operationId": "delete_launchers_by_launcherId_items_by_itemId",
        "x-docs-source": "api-reference/launchers/remove-item.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "launcherId",
            "in": "path",
            "required": true,
            "description": "Identificador launcherId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "description": "Identificador itemId.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/library/folders": {
      "post": {
        "tags": [
          "Biblioteca"
        ],
[...]
