{
  "openapi": "3.1.0",
  "info": {
    "title": "Real Oficial API",
    "summary": "API para criar, editar, renderizar e publicar cortes de vídeo.",
    "description": "Contrato público da API v1 da Real Oficial. Envie Accept: application/json em todas as requisições e use X-Workspace-Id para selecionar um workspace de equipe.",
    "version": "1.0.0",
    "contact": {
      "name": "Suporte Real Oficial",
      "email": "antonio@realoficial.com.br",
      "url": "https://discord.gg/realoficial"
    }
  },
  "servers": [
    {
      "url": "https://api.realoficial.com.br/api/v1",
      "description": "Produção"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Brand Kits"
    },
    {
      "name": "Projetos"
    },
    {
      "name": "Analytics"
    },
    {
      "name": "Launchers"
    },
    {
      "name": "Biblioteca"
    },
    {
      "name": "Lives"
    },
    {
      "name": "Autenticação"
    },
    {
      "name": "Shorts"
    },
    {
      "name": "Renders"
    },
    {
      "name": "Contas sociais"
    },
    {
      "name": "Publicações sociais"
    },
    {
      "name": "Templates"
    },
    {
      "name": "Workspaces"
    }
  ],
  "paths": {
    "/brand-kits": {
      "post": {
        "tags": [
          "Brand Kits"
        ],
        "summary": "Criar Brand Kit",
        "description": "Cria uma configuração reutilizável de marca",
        "operationId": "post_brand_kits",
        "x-docs-source": "api-reference/brand-kits/create.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrandKitInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Brand Kits"
        ],
        "summary": "Listar Brand Kits",
        "description": "Lista os Brand Kits do workspace ativo",
        "operationId": "get_brand_kits",
        "x-docs-source": "api-reference/brand-kits/list.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand-kits/{id}": {
      "delete": {
        "tags": [
          "Brand Kits"
        ],
        "summary": "Excluir Brand Kit",
        "description": "Remove um Brand Kit",
        "operationId": "delete_brand_kits_by_id",
        "x-docs-source": "api-reference/brand-kits/delete.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Brand Kits"
        ],
        "summary": "Detalhar Brand Kit",
        "description": "Retorna um Brand Kit",
        "operationId": "get_brand_kits_by_id",
        "x-docs-source": "api-reference/brand-kits/show.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Brand Kits"
        ],
        "summary": "Atualizar Brand Kit",
        "description": "Atualiza um Brand Kit",
        "operationId": "put_brand_kits_by_id",
        "x-docs-source": "api-reference/brand-kits/update.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrandKitUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand-kits/{id}/duplicate": {
      "post": {
        "tags": [
          "Brand Kits"
        ],
        "summary": "Duplicar Brand Kit",
        "description": "Duplica um Brand Kit no workspace ativo",
        "operationId": "post_brand_kits_by_id_duplicate",
        "x-docs-source": "api-reference/brand-kits/duplicate.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/createShorts": {
      "post": {
        "tags": [
          "Projetos"
        ],
        "summary": "Criar Projeto",
        "description": "Crie um novo projeto a partir de uma URL de vídeo e gere cortes automaticamente",
        "operationId": "post_createShorts",
        "x-docs-source": "api-reference/projects/create.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Corpo da requisição.",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "URL do vídeo (YouTube, Google Drive ou link direto .mp4)"
                  },
                  "clipDuration": {
                    "type": "string",
                    "description": "Duração alvo dos cortes: 30, 60, 90, 120 ou auto"
                  },
                  "startTime": {
                    "type": "number",
                    "description": "Tempo inicial do trecho a processar (em segundos)"
                  },
                  "endTime": {
                    "type": "number",
                    "description": "Tempo final do trecho a processar (em segundos)"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Formato do vídeo: vertical (9:16) ou horizontal (16:9)"
                  },
                  "layout": {
                    "type": "string",
                    "description": "Layout do vídeo: auto, single, split, react, gaming - auto: Layout combinado entre single / split e center - single: Vídeo único com face tracking - split: Tela dividida (face + conteúdo) - center: Vídeo centralizado na tela - react: Estilo reação - gaming: Para gameplays"
                  },
                  "video_type": {
                    "type": "string",
                    "description": "Tipo de processamento. Valores aceitos: shorts ou reframe. Este campo é obrigatório. Omiti-lo retorna 422: json { \"message\": \"The video type field is required.\", \"errors\": { \"videotype\": [\"The video type field is required.\"] } } O modo escolhido muda as regras de duração do intervalo — veja Validações."
                  },
                  "title": {
                    "type": "string",
                    "description": "Título personalizado do projeto (usa título do vídeo se não informado)"
                  },
                  "captionFont": {
                    "type": "string",
                    "description": "Fonte padrão para legendas"
                  },
                  "captionTemplate": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Objeto completo do estilo de legendas, com id, style e config. Consulte o catálogo de Caption Templates ou copie o JSON pela galeria interativa."
                  },
                  "ignoreCaptions": {
                    "type": "boolean",
                    "default": false,
                    "description": "Se true, gera os cortes sem legendas."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Prompt customizado para guiar a geração dos cortes. Máximo de 1000 caracteres."
                  },
                  "emojisEnabled": {
                    "type": "boolean",
                    "default": false,
                    "description": "Se true, habilita emojis nas legendas."
                  },
                  "show_in_content_hub": {
                    "type": "boolean",
                    "default": true,
                    "description": "Se true, compartilha os cortes no hub de conteúdo."
                  },
                  "autoCta": {
                    "type": "boolean",
                    "default": false,
                    "description": "Se true, adiciona uma chamada para ação (CTA) nos primeiros 3 segundos do corte."
                  }
                },
                "required": [
                  "url",
                  "clipDuration",
                  "startTime",
                  "endTime",
                  "aspect_ratio",
                  "video_type"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/accounts": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Comparar contas",
        "description": "Compara o desempenho por conta social.",
        "operationId": "get_dashboard_analytics_accounts",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/best-time": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Melhor horário",
        "description": "Retorna horários de melhor desempenho.",
        "operationId": "get_dashboard_analytics_best_time",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "description": "Métrica analisada.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "views",
                "likes",
                "engagement_rate"
              ]
            }
          },
          {
            "name": "scope",
            "in": "query",
            "description": "Escopo da análise.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "global"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/competitor-benchmark": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Benchmark de concorrentes",
        "description": "Compara o desempenho com concorrentes.",
        "operationId": "get_dashboard_analytics_competitor_benchmark",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/content-decay": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Decaimento de conteúdo",
        "description": "Analisa o decaimento de desempenho.",
        "operationId": "get_dashboard_analytics_content_decay",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/export": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Exportar Analytics",
        "description": "Exporta dados de Analytics em CSV.",
        "operationId": "get_dashboard_analytics_export",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Conjunto exportado.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "posts",
                "platforms",
                "accounts"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo CSV.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/fatigue": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Fadiga de conteúdo",
        "description": "Retorna sinais de fadiga de conteúdo.",
        "operationId": "get_dashboard_analytics_fatigue",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/follower-growth": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Crescimento de seguidores",
        "description": "Retorna o crescimento de seguidores.",
        "operationId": "get_dashboard_analytics_follower_growth",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/goals": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Listar metas",
        "description": "Lista metas de desempenho.",
        "operationId": "get_dashboard_analytics_goals",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Criar meta",
        "description": "Cria uma meta de desempenho.",
        "operationId": "post_dashboard_analytics_goals",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyticsGoalInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/goals/{id}": {
      "put": {
        "tags": [
          "Analytics"
        ],
        "summary": "Atualizar meta",
        "description": "Atualiza uma meta de desempenho.",
        "operationId": "put_dashboard_analytics_goals_by_id",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyticsGoalInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Analytics"
        ],
        "summary": "Arquivar meta",
        "description": "Arquiva uma meta de desempenho.",
        "operationId": "delete_dashboard_analytics_goals_by_id",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/hashtag-trends": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Tendências de hashtags",
        "description": "Retorna tendências de hashtags.",
        "operationId": "get_dashboard_analytics_hashtag_trends",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/instagram/demographics": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Demografia do Instagram",
        "description": "Retorna métricas demográficas do Instagram.",
        "operationId": "get_dashboard_analytics_instagram_demographics",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_id",
            "in": "query",
            "description": "ID da conta do Instagram.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "description": "Métrica demográfica.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "follower_demographics",
                "engaged_audience_demographics"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/overview": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Visão geral",
        "description": "KPIs de visualizações, shorts, minutos e origem dos dados.",
        "operationId": "get_dashboard_analytics_overview",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/platforms": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Comparar plataformas",
        "description": "Compara o desempenho por plataforma.",
        "operationId": "get_dashboard_analytics_platforms",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/posts": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Desempenho de posts",
        "description": "Lista paginada de posts e métricas.",
        "operationId": "get_dashboard_analytics_posts",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Campo de ordenação.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "views",
                "impressions",
                "likes",
                "comments",
                "shares",
                "engagement"
              ]
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Direção da ordenação.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Página solicitada.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Quantidade de itens por página.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/posts/{socialPostId}/sentiment": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Sentimento dos comentários",
        "description": "Analisa o sentimento dos comentários.",
        "operationId": "get_dashboard_analytics_posts_by_socialPostId_sentiment",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "socialPostId",
            "in": "path",
            "required": true,
            "description": "Identificador socialPostId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/repurpose-suggestions": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Sugestões de reaproveitamento",
        "description": "Sugere conteúdos para reaproveitar.",
        "operationId": "get_dashboard_analytics_repurpose_suggestions",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_views",
            "in": "query",
            "description": "Mínimo de visualizações.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 5000
            }
          },
          {
            "name": "age_days_min",
            "in": "query",
            "description": "Idade mínima em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 7,
              "default": 30
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Quantidade de sugestões.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/timeseries": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Série temporal",
        "description": "Retorna a série temporal do período.",
        "operationId": "get_dashboard_analytics_timeseries",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/top-posts": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Top posts",
        "description": "Retorna os posts de melhor desempenho.",
        "operationId": "get_dashboard_analytics_top_posts",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "description": "Métrica usada no ranking.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "views",
                "impressions",
                "likes",
                "comments",
                "shares",
                "engagement_rate"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Quantidade de posts.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/analytics/youtube/post/{socialPostId}/daily": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Views diárias no YouTube",
        "description": "Retorna visualizações diárias de um post do YouTube.",
        "operationId": "get_dashboard_analytics_youtube_post_by_socialPostId_daily",
        "x-docs-source": "api-reference/analytics.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "socialPostId",
            "in": "path",
            "required": true,
            "description": "Identificador socialPostId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Janela em dias.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                30,
                60,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "description": "Plataformas separadas por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_account_ids",
            "in": "query",
            "description": "IDs de contas separados por vírgulas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/launchers": {
      "post": {
        "tags": [
          "Launchers"
        ],
        "summary": "Criar Launcher",
        "description": "Cria uma fila recorrente de publicação",
        "operationId": "post_launchers",
        "x-docs-source": "api-reference/launchers/create.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LauncherInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Launchers"
        ],
        "summary": "Listar Launchers",
        "description": "Lista os Launchers do workspace ativo",
        "operationId": "get_launchers",
        "x-docs-source": "api-reference/launchers/list.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/launchers/{id}": {
      "delete": {
        "tags": [
          "Launchers"
        ],
        "summary": "Excluir Launcher",
        "description": "Remove um Launcher",
        "operationId": "delete_launchers_by_id",
        "x-docs-source": "api-reference/launchers/delete.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Launchers"
        ],
        "summary": "Detalhar Launcher",
        "description": "Detalha um Launcher, sua fila e o histórico recente",
        "operationId": "get_launchers_by_id",
        "x-docs-source": "api-reference/launchers/show.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Launchers"
        ],
        "summary": "Atualizar Launcher",
        "description": "Atualiza, pausa ou retoma um Launcher",
        "operationId": "put_launchers_by_id",
        "x-docs-source": "api-reference/launchers/update.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LauncherUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/launchers/{id}/items": {
      "post": {
        "tags": [
          "Launchers"
        ],
        "summary": "Adicionar Short",
        "description": "Adiciona um short à fila do Launcher",
        "operationId": "post_launchers_by_id_items",
        "x-docs-source": "api-reference/launchers/add-item.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LauncherItemInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/launchers/{id}/items/reorder": {
      "put": {
        "tags": [
          "Launchers"
        ],
        "summary": "Reordenar Shorts",
        "description": "Reordena os shorts pendentes da fila",
        "operationId": "put_launchers_by_id_items_reorder",
        "x-docs-source": "api-reference/launchers/reorder-items.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Nova ordem completa da fila.",
                "properties": {
                  "item_ids": {
                    "type": "array",
                    "description": "IDs dos itens na ordem desejada.",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "item_ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/launchers/{id}/items/reschedule": {
      "put": {
        "tags": [
          "Launchers"
        ],
        "summary": "Reagendar Shorts",
        "description": "Desloca os agendamentos dos itens selecionados",
        "operationId": "put_launchers_by_id_items_reschedule",
        "x-docs-source": "api-reference/launchers/reschedule-items.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Deslocamento de itens da fila.",
                "properties": {
                  "item_ids": {
                    "type": "array",
                    "description": "IDs dos itens.",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1
                  },
                  "days": {
                    "type": "integer",
                    "description": "Quantidade de dias, diferente de zero.",
                    "minimum": -365,
                    "maximum": 365
                  }
                },
                "required": [
                  "item_ids",
                  "days"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/launchers/{id}/slots": {
      "put": {
        "tags": [
          "Launchers"
        ],
        "summary": "Atualizar Horários",
        "description": "Substitui os horários semanais do Launcher",
        "operationId": "put_launchers_by_id_slots",
        "x-docs-source": "api-reference/launchers/update-slots.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Nova grade semanal.",
                "properties": {
                  "slots": {
                    "type": "array",
                    "description": "Horários semanais.",
                    "items": {
                      "$ref": "#/components/schemas/LauncherSlot"
                    }
                  }
                },
                "required": [
                  "slots"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/launchers/{id}/slots/suggest": {
      "get": {
        "tags": [
          "Launchers"
        ],
        "summary": "Sugerir Horários",
        "description": "Sugere horários de publicação por plataforma",
        "operationId": "get_launchers_by_id_slots_suggest",
        "x-docs-source": "api-reference/launchers/suggest-slots.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/launchers/{id}/suggest-description": {
      "post": {
        "tags": [
          "Launchers"
        ],
        "summary": "Sugerir Descrição",
        "description": "Sugere uma descrição para um short do Launcher",
        "operationId": "post_launchers_by_id_suggest_description",
        "x-docs-source": "api-reference/launchers/suggest-description.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Short usado para gerar a sugestão.",
                "properties": {
                  "short_id": {
                    "type": "string",
                    "description": "ID do short."
                  }
                },
                "required": [
                  "short_id"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/launchers/{launcherId}/items/{itemId}": {
      "delete": {
        "tags": [
          "Launchers"
        ],
        "summary": "Remover Short",
        "description": "Remove um short da fila do Launcher",
        "operationId": "delete_launchers_by_launcherId_items_by_itemId",
        "x-docs-source": "api-reference/launchers/remove-item.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "launcherId",
            "in": "path",
            "required": true,
            "description": "Identificador launcherId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "description": "Identificador itemId.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/library/folders": {
      "post": {
        "tags": [
          "Biblioteca"
        ],
        "summary": "Criar Pasta",
        "description": "Cria uma pasta na Biblioteca",
        "operationId": "post_library_folders",
        "x-docs-source": "api-reference/library/folders-create.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LibraryFolderInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Biblioteca"
        ],
        "summary": "Listar Pastas",
        "description": "Lista as pastas da Biblioteca do workspace",
        "operationId": "get_library_folders",
        "x-docs-source": "api-reference/library/folders-list.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/library/folders/{id}": {
      "delete": {
        "tags": [
          "Biblioteca"
        ],
        "summary": "Excluir Pasta",
        "description": "Remove uma pasta sem excluir seus itens",
        "operationId": "delete_library_folders_by_id",
        "x-docs-source": "api-reference/library/folders-delete.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Biblioteca"
        ],
        "summary": "Detalhar Pasta",
        "description": "Retorna uma pasta da Biblioteca",
        "operationId": "get_library_folders_by_id",
        "x-docs-source": "api-reference/library/folders-show.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Biblioteca"
        ],
        "summary": "Atualizar Pasta",
        "description": "Atualiza uma pasta da Biblioteca",
        "operationId": "put_library_folders_by_id",
        "x-docs-source": "api-reference/library/folders-update.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LibraryFolderInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/library/folders/{id}/items": {
      "get": {
        "tags": [
          "Biblioteca"
        ],
        "summary": "Listar Itens da Pasta",
        "description": "Lista os itens de uma pasta",
        "operationId": "get_library_folders_by_id_items",
        "x-docs-source": "api-reference/library/folder-items.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Página solicitada.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Quantidade de itens por página.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Tipo do item.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "file",
                "prompt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/library/items": {
      "post": {
        "tags": [
          "Biblioteca"
        ],
        "summary": "Criar Item",
        "description": "Cria um item de arquivo ou prompt na Biblioteca",
        "operationId": "post_library_items",
        "x-docs-source": "api-reference/library/items-create.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LibraryItemInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Biblioteca"
        ],
        "summary": "Listar Itens",
        "description": "Lista os itens da Biblioteca do workspace",
        "operationId": "get_library_items",
        "x-docs-source": "api-reference/library/items-list.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Página solicitada.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Quantidade de itens por página.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "folder_id",
            "in": "query",
            "description": "ID da pasta; vazio ou null seleciona a raiz.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Tipo do item.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "file",
                "prompt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/library/items/{id}": {
      "delete": {
        "tags": [
          "Biblioteca"
        ],
        "summary": "Excluir Item",
        "description": "Remove um item da Biblioteca",
        "operationId": "delete_library_items_by_id",
        "x-docs-source": "api-reference/library/items-delete.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Biblioteca"
        ],
        "summary": "Detalhar Item",
        "description": "Retorna um item da Biblioteca",
        "operationId": "get_library_items_by_id",
        "x-docs-source": "api-reference/library/items-show.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Biblioteca"
        ],
        "summary": "Atualizar Item",
        "description": "Atualiza ou move um item da Biblioteca",
        "operationId": "put_library_items_by_id",
        "x-docs-source": "api-reference/library/items-update.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LibraryItemInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/library/public/folders": {
      "get": {
        "tags": [
          "Biblioteca"
        ],
        "summary": "Listar Pastas Públicas",
        "description": "Lista as pastas públicas aprovadas",
        "operationId": "get_library_public_folders",
        "x-docs-source": "api-reference/library/public-folders.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Página solicitada.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Quantidade de itens por página.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/library/public/folders/{id}/items": {
      "get": {
        "tags": [
          "Biblioteca"
        ],
        "summary": "Listar Itens Públicos da Pasta",
        "description": "Lista os itens públicos aprovados de uma pasta",
        "operationId": "get_library_public_folders_by_id_items",
        "x-docs-source": "api-reference/library/public-folder-items.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Página solicitada.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Quantidade de itens por página.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Tipo do item.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "file",
                "prompt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/library/public/items": {
      "get": {
        "tags": [
          "Biblioteca"
        ],
        "summary": "Listar Itens Públicos",
        "description": "Lista os itens públicos aprovados",
        "operationId": "get_library_public_items",
        "x-docs-source": "api-reference/library/public-items.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Página solicitada.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Quantidade de itens por página.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "folder_id",
            "in": "query",
            "description": "ID da pasta.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Tipo do item.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "file",
                "prompt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/lives/{liveId}/detail": {
      "get": {
        "tags": [
          "Lives"
        ],
        "summary": "Detalhes de uma Live",
        "description": "Retorna shorts e clips de uma live específica",
        "operationId": "get_lives_by_liveId_detail",
        "x-docs-source": "api-reference/lives/detail.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "liveId",
            "in": "path",
            "required": true,
            "description": "ID da live (ULID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Ordenação: score ou id (padrão: id)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shorts_page",
            "in": "query",
            "required": false,
            "description": "Página dos shorts",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "clips_page",
            "in": "query",
            "required": false,
            "description": "Página dos clips",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/lives/{liveId}/favorite": {
      "post": {
        "tags": [
          "Lives"
        ],
        "summary": "Favoritar/Desfavoritar Live",
        "description": "Toggle de favorito em uma live",
        "operationId": "post_lives_by_liveId_favorite",
        "x-docs-source": "api-reference/lives/favorite.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "liveId",
            "in": "path",
            "required": true,
            "description": "ID da live (ULID)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/lives/{liveId}/shorts": {
      "get": {
        "tags": [
          "Lives"
        ],
        "summary": "Shorts de uma Live",
        "description": "Retorna shorts paginados de uma live",
        "operationId": "get_lives_by_liveId_shorts",
        "x-docs-source": "api-reference/lives/shorts.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "liveId",
            "in": "path",
            "required": true,
            "description": "ID da live (ULID)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Número da página (padrão: 1)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/lives/clips": {
      "get": {
        "tags": [
          "Lives"
        ],
        "summary": "Listar Clips",
        "description": "Lista clips de plataforma",
        "operationId": "get_lives_clips",
        "x-docs-source": "api-reference/lives/clips.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "description": "Filtrar por plataforma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "description": "Filtrar por canal",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Número da página (padrão: 1)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/lives/monitor": {
      "post": {
        "tags": [
          "Lives"
        ],
        "summary": "Iniciar Monitoramento",
        "description": "Inicia o monitoramento de uma live na Twitch, Kick ou YouTube",
        "operationId": "post_lives_monitor",
        "x-docs-source": "api-reference/lives/monitor.mdx",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Corpo da requisição.",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do monitor (max 255 caracteres)"
                  },
                  "url": {
                    "type": "string",
                    "description": "URL da live (Twitch, Kick ou YouTube)"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Prompt customizado (max 2000 caracteres)"
                  },
                  "visibility": {
                    "type": "string",
                    "description": "Visibilidade do monitor: public ou private"
                  }
                },
                "required": [
                  "name",
                  "url",
                  "visibility"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Operação concluída com sucesso.",
[...]
